# Flask and dependencies.
Flask>=1.1.1
Click>=7.0
itsdangerous>=1.1.0
MarkupSafe>=1.1.1
Werkzeug>=0.15.6
Jinja2>=2.10.1
flask_cors>=3.0.10

# Socket.IO.
Flask-SocketIO==5.1.0

# MongoDBs.
pymongo==3.11.2
dnspython==2.1.0

# Gunicorn is used to host the flask server, gevent-websocket is used for Socket.IO connections.
gunicorn==19.9.0
gevent==21.1.2
gevent-websocket==0.10.1

# Secure One-Way Encryption of passwords using bcrypt.
bcrypt==3.2.0
cffi>=1.1
pycparser==2.20

# SCSS files are compiled using pyScss.
pyScss>=1.3.7
six<2,>=1.15.0

# The MScript parser uses parsimonious, and requests.get to fetch it.
parsimonious>=0.8.1
requests>=2.24.0
certifi>=2017.4.17
chardet<4,>=3.0.1
urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
idna<3,>=2.5

# GQL > REST
graphene>=2.1.8
graphql-core<3,>=2.1
aniso8601<=7,>=3
graphql-relay<3,>=2
promise<3,>=2.3
rx<2,>=1.6

# Integrating graphene with flask
flask_graphql>=2.0.1
graphql-server-core<2,>=1.1

# RICH TEXT FORMATTING POG
rich>=0.8.13
colorama<0.5.0,>=0.4.3
pygments<3.0.0,>=2.6.1
pprintpp<0.5.0,>=0.4.0
commonmark<0.10.0,>=0.9.0
typing-extensions<4.0.0,>=3.7.4