$backgroundcolor: #232221;
$textcolor: #fff;

$formbackground: #2b2d2d;
$formborder: #555;
$formspacing: 10px;

body {
    display: flex !important;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 10px;
    background-color: $backgroundcolor;
    flex-direction: column;
}

form {
    display: flex;
    padding: 10px;
    color: $textcolor;
    background-color: $formbackground;
    border: 1px solid $formborder;
    & + & {
        margin-top: $formspacing;
    }
    name {
        align-items: center;
        flex-grow: 1;
    }
}

@import 'submits';