$detailswidth: 16rem;
$detailsbackground: #2c2a31;
$detailsborder: #161418;

$chatbackground: #13141f;
$chatscrollwidth: 0.5rem;
$chatscrollbackground: #2c2a31;
$chatscrollforeground: #E2EFF4;

$inputheight: 2.7rem;

$backgroundcolor: #232221;
$textcolor: #E2EFF4;

$internalcolor: #9E9E9E;
$internalname: #E91E63;

$timecolor: #444650;
$namecolor: #ff5722;

$systemcolor: #cddc39;

@font-face {
    font-family: "Disposable Droid BB";
    src: url(ddroid.woff) format("woff"),
         url(ddroid.woff2) format("woff2"),
         url(ddroid.ttf) format("truetype");
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: grid !important;
    background-color: $backgroundcolor;
    color: $textcolor;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    line-height: 13px;
    grid-template-columns: auto $detailswidth;
    grid-template-rows: auto $inputheight;
    grid-template-areas:
        'chat setup'
        'input setup';
}

body.dark:before {
    content: ' ';
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #0007;
}

message, system, internal {
    display: block;
    padding: 3px 7px;
}

system {
    color: $systemcolor;
    font-weight: bold;

}

internal {
    color: $internalcolor;
    name {
        margin-right: 2px;
        color: $internalname;
    }
}

time {
    margin-right: 0.5rem;
    color: $timecolor;
    vertical-align: middle;
    font-size: x-small;
    font-weight: normal;
}

name {
    color: $namecolor;
    display: inline;
    margin-right: 7px;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
}

@mixin sectiontransition {
    transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);
}

.details {
    @include sectiontransition;
    grid-area: setup;
    background-color: $detailsbackground;
    border-left: 1px solid $detailsborder;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: 'Disposable Droid BB', sans-serif;
    align-items: center;
    justify-content: flex-start;
    *:last-child {
        margin-top: auto;
    }
    form {
        width: 100%;
        [type="submit"] {
            width: 100%;
        }
    }
    &[off] { transform: translateX(100%) }
}

.chat {
    @include sectiontransition;
    grid-area: chat;
    background-color: $chatbackground;
    overflow-x: hidden;
    overflow-wrap: break-word;
    &[off] { transform: translateY(-100%) }
    &::-webkit-scrollbar { width: $chatscrollwidth }
    &::-webkit-scrollbar-track { background-color: $chatscrollbackground }
    &::-webkit-scrollbar-thumb { background-color: $chatscrollforeground }
}

.input {
    @include sectiontransition;
    grid-area: input;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex-direction: row;
    padding: 7px;
    border: 5px;
    * + * {
        margin-left: 7px;
    }
    &[off] { transform: translateY(100%) }
}

//.players[off] { transform: translateX(-100%) }

input[type="text"] {
    background-color: #150c09;
    border: 1px solid #344444;
    color: currentColor;
    line-height: 1;
    padding: 0 7px;
    vertical-align: middle;
    flex-grow: 1;
    height: 1.875rem;
    &:focus {
        outline: none;
        border: 1px solid #ff5722;
    }
}

fieldset {
    padding: 13px 15px;
    font-size: 1rem;
    * + * {
        margin-top: 10px;
    }
}

form.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@import 'submits';