body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    color: white;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

form {
    display: none;
    border: 1px solid white;
    transition: width 1s linear 0s, height 1s linear 0s, padding 1s linear 0s;
    padding: 15px;
    overflow: hidden;
}

form section + section {
    margin-top: 15px;
}

flex {
    display: flex;
}

space {
    display: block;
    width: 15px;
    height: 1px;
}