body {
    display: grid !important;
    background-color: #232221;
    color: #E2EFF4;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto", times, "Helvetica Neue", helvetica, arial, sans-serif;
    grid-template-columns: 14rem auto 16rem;
    grid-template-rows: auto 2.7rem;
    grid-template-areas:
        'players chat setup'
        'players input setup';
}

.players {
    grid-area: players;
    background-color: #2c2a31;
    border-right: 1px solid #161418;
}
.setup {
    grid-area: setup;
    background-color: #2c2a31;
    border-left: 1px solid #161418;
}
.chat {
    grid-area: chat;
    background-color: #222025;
}
.input {
    grid-area: input;
    background-color: #2c2a31;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex-direction: row;
    padding: 7px;
}

.input input[type="text"] {
    margin-right: 7px;
}


input[type="text"] {
    background-color: #222025;
    border: 1px solid #344444;
    color: currentColor;
    border-radius: 5px;
    line-height: 1;
    padding: 0 7px;
    vertical-align: middle;
    flex-grow: 1;
    height: 100%;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #0083ff;
}

input[type="submit"][disabled] {
    background-color: #252525;
    color: #828282;
    box-shadow: inset 0px 0px 9px 6px #ababab33, inset 0px 1px 6px 11px #00000026;
    cursor: default;
}

input[type="submit"] {
    background-color: #0083ff;
    border: #222025;
    border-radius: 5px;
    box-shadow: inset 0px 0px 9px 6px #ffffff33, inset 0px 1px 6px 11px #00000026;
    color: #e5e3e7;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 14px;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover:not([disabled]) {
    background-color: #0058ff;
    border: #222025;
}