body {
    display: grid !important;
    background-color: #232221;
    color: #E2EFF4;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto", times, "Helvetica Neue", helvetica, arial, sans-serif;
    grid-template-columns: 14rem auto 16rem;
    grid-template-rows: auto 2.5rem;
    grid-template-areas:
        'players chat setup'
        'players input setup';
}

.players {
    grid-area: players;
    background-color: red;
}
.setup {
    grid-area: setup;
    background-color: green;
}
.chat {
    grid-area: chat;
    background-color: yellow;
}
.input {
    grid-area: input;
    background-color: blue;
}