body {
    display: grid !important;
    background-color: #232221;
    color: #E2EFF4;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto", times, "Helvetica Neue", helvetica, arial, sans-serif;
    grid-template-columns: 14rem auto 16rem;
    grid-template-rows: auto 2.5rem;
    grid-template-areas:
        'players chat setup'
        'players input setup';
}

.players {
    grid-area: players;
    background-color: red;
}
.setup {
    grid-area: setup;
    background-color: green;
}
.chat {
    grid-area: chat;
    background-color: yellow;
}
.input {
    grid-area: input;
    background-color: #111121;
}

input[type="text"] {
    background-color: #222025;
    border: 1px solid #344444;
    color: currentColor;
    border-radius: 5px;
    line-height: 1;
    padding: 0 7px;
    vertical-align: middle;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #0083ff;
}